#header {
  .header-nav {
    .header-menu-mobile {
      display: none;
    }
  }
}
@media (max-width: 1199px) {
  #header {
    .header-nav {
      .toggle-menu {
        position: relative;
        z-index: 10;
        right: 0;
        display: flex;
        width: 5rem;
        height: 4rem;
        flex-direction: column;
        justify-content: space-between;
        .bar {
          height: 0.5rem;
          width: 100%;
          background: #fff;
          transition: all 0.3s;
        }

        &.active {
          .bar {
            &:nth-child(1) {
              transform: rotate(45deg) translate(13px, 11px);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: rotate(-45deg) translate(13px, -11px);
            }
          }
        }
      }

      .header-menu-mobile {
        &.active {
          position: absolute;
          display: flex;
          width: 100%;
          height: 100vh;
          left: 0;
          top: 0;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: rgba($gray, 80%);
          list-style: none;
          gap: 2rem;

          .menu-item {
            .item-link {
              text-decoration: none;
              padding: 1rem;
              font-size: 2.4rem;
            }
          }
        }
      }
    }
  }
}
