#header {
  width: 100%;
  background: $gray;
  padding: 2.5rem 0;
  position: fixed;
  top: 0;
  z-index: 5;

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .box-logo {
      .logo-title {
        font-family: "Kanit", sans-serif;
        font-size: 40px;
        font-style: italic;
        span {
          color: $blue;
        }
      }
    }

    .header-menu {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 3rem;

      .menu-item {
        .item-link {
          text-decoration: none;
          font-weight: 500;
          transition: color 0.3s;
          padding: 1rem 1.5rem;
          display: inline-block;
          text-transform: uppercase;

          &:hover {
            color: darken($blue, 10%);
          }

          &.active {
            color: $blue;
          }
        }

        &.signin-button {
          border: 1px solid #fff;
          border-radius: 0.5rem;

          transition: background 0.3s;
          &:hover {
            background: $blue;
          }

          .item-link {
            padding: 1rem 2.5rem;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  #header {
    .header-nav {
      .header-menu {
        display: none;
      }
    }
  }
}
