#main-content {
  margin-top: 11rem;
  padding: 5rem 0;
  .product-review {
    display: flex;
    align-items: center;
    padding-top: 10rem;

    .box-left {
      .product-title {
        font-size: 6rem;
        font-style: italic;
        font-family: "Kanit", sans-serif;
      }

      .product-subtitle {
        color: $purple;
        font-size: 3.5rem;
        line-height: 1;
        width: 90%;
        margin-bottom: 10px;
      }

      .product-description {
        // width: 90%;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
      }

      .product-price {
        font-size: 3rem;
        margin-bottom: 0.5rem;
        color: $blue;
        font-weight: 300;
      }

      .product-buttons {
        display: flex;
        gap: 2rem;

        .buy-button {
          background: $blue;
          border: none;
          display: flex;
          gap: 1.3rem;
          align-items: center;

          img {
            width: 2.5rem;
            margin-top: -0.4rem;
          }

          &:hover {
            background: darken($blue, 10%);
          }
        }

        .about-button {
          display: flex;
          align-items: center;
          gap: 0.7rem;
          img {
            margin-top: -0.2rem;
            width: 2.5rem;
          }
        }
      }
    }

    .box-right {
      width: 90%;
    }
  }
}

@media (max-width: 1199px) {
  #main-content {
    .product-review {
      flex-wrap: wrap;

      .box-left {
        text-align: center;
        .product-subtitle {
          width: 100%;
        }

        .product-description {
          width: 75%;
          margin: 0 auto;
          font-size: 1.6rem;
          margin-bottom: 2rem;
        }

        .product-buttons {
          justify-content: center;
        }
      }

      .box-right {
        width: 100%;
        margin-top: 2rem;
        img {
          width: 60%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #main-content {
    .product-review {
      .box-left {
        .product-buttons {
          flex-wrap: wrap;
          margin-top: 2rem;

          .default-button {
            width: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
}
